version: "3.9"
services:
  api:
    image: fabriziossr/nlp_api:latest   # <-- use the image you built
    container_name: nps-api
    ports:
      - "8000:8000"
    environment:
      - MODEL_DIR=models
    command: uvicorn app_fastapi:app --host 0.0.0.0 --port 8000


  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports: ["9090:9090"]

  grafana:
    image: grafana/grafana:latest
    ports: ["3000:3000"]
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
